		
        {% extends 'main_light/base.html' %}
        {% load static %}


{% block head %}

	<title>Contact Us - Reach Out to Nexel Mangalore</title>
    <meta name="description" content="Get in touch with Nexel expert team. Whether you have questions about our services, want to discuss a project, or just want to say hello, our team is ready to assist you. Contact us today for personalized solutions in software development, web design, app development, SEO, and more.">
    <meta name="keywords" content="Software Development, Web Development, Android App Development, SEO Services, Digital Marketing, Branding Solutions, Mangalore Karnataka, India">
    <meta name="location" content="Mangalore, Karnataka, India">
    <meta name="author" content="Nexel-Futureize the Innovation">

	<!-- Social Media Meta Tags -->
	<meta property="og:title" content="Nexel: Innovative Software Development Company">
	<meta property="og:description" content="Leading software development company in Mangalore, Karnataka, offering web development, Android apps, SEO, digital marketing, and branding solutions.">
	<meta property="og:image" content="{{ads.image.url}}"> <!-- Add URL to your company logo or relevant image -->
	<meta property="og:url" content="https://www.nexel.in/">
	<meta name="twitter:card" content="summary_large_image">

	<!--Twitter-card-->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Nexel - Futureize the innovation">
	<meta name="twitter:description" content="Leading software development company in Mangalore, Karnataka, offering web development, Android apps, SEO, digital marketing, and branding solutions.">
	<meta name="twitter:image" content="{{ads.image.url}}">
	
	<!-- Schema Markup for Local Business -->
	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "LocalBusiness",
			"name": "Nexel",
			"description": "Leading software development company in Mangalore, Karnataka, specializing in web development, Android app development, SEO, digital marketing, and branding.",
			"url": "https://www.nexel.in",
			"logo": "{% static 'images/favicon.png' %}",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Mangalore",
				"addressRegion": "Karnataka",
				"postalCode": "570001",
				"addressCountry": "India"
			},
			"contactPoint": {
				"@type": "ContactPoint",
				"telephone": "+91-9778165158",
				"contactType": "customer service"
			}
		}
	</script>

{% endblock head %}


        {% block body %}
        
        
        
        <!--contact info-->
		<div class="contact-head-sec r-bg-a pt85 pb120">
			<div class="container">
				<div class="row pt80">
					<div class="col-lg-5 vcenter">
						<div class="page-headings">
							<span class="sub-heading mb15"><i class="fas fa-headset mr5"></i> Let's Talk</span>
							<h1 class="mb15">Good talks make good projects</h1>
							<p>We would be happy to hear from you, Please fill in the form below or mail us your requirements.</p>
							
						</div>
					</div>
					<div class="col-lg-7 vcenter">
						<div class="row">
							<div class="col-lg-6 m-mt30">
								<div class="contact-details-block">
									<div class="ree-row-set">
										<div class="ree-icon-set dtb-icon"> <i class="fas fa-phone-alt"></i>	</div>
										<div class="ree-details-set dtb-details">
											<span>sales Department</span>
											<a href="tel:+917829843942"> +91 7829843942 </a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 m-mt30">
								<div class="contact-details-block">
									<div class="ree-row-set">
										<div class="ree-icon-set dtb-icon"> <i class="fas fa-phone-alt"></i> </div>
										<div class="ree-details-set dtb-details">
											<span>HR Department</span>
											<a href="tel:+919778165158"> +91 9778165158 </a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row mt30">
							<div class="col-lg-6">
								<div class="contact-details-block">
									<div class="ree-row-set">
										<div class="ree-icon-set dtb-icon"> <i class="fas fa-envelope"></i>	</div>
										<div class="ree-details-set dtb-details">
											<span>sales Department</span>
											<a href="mailto:sales@example.com"> nexel.cd@gmail.com </a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 m-mt30">
								<div class="contact-details-block">
									<div class="ree-row-set">
										<div class="ree-icon-set dtb-icon"> <i class="fab fa-linkedin"></i> </div>
										<div class="ree-details-set dtb-details">
											<span>Follow Us On LinkedIn</span>
											<a href="https://www.linkedin.com/company/nexel-futureize-the-innovation/"> nexel Futureize the Innovation </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</div>

	<!--contact info-->
	<div class="contact-form-sec sec-pad r-bg-d">
		<div class="container">

				<div class="row flx-end">				
					<div class="col-lg-6">
						<div class="sec-heading m-center">
							<span class="sub-heading mb15">INQUIRY</span>
							<h2 class="mb15"><span class="ree-text rt40">Trusted</span>  by The Thousands</h2>
							<p>We would be happy to hear from you, Please fill in the form below or mail us your requirements</p>
						</div>
						<div class="trust-logo-block mt60">
                            <img src="{{ads.image.url}}" style="width: 100%; height: 100%; border-radius: 20px;" />
						</div>

						<div class="ree-card mt30 trust-review owl-carousel">
							<div class="items">
								<div class="review-text">
									<p>Kudos to Nexel for an exceptional website build! They understood our needs, communicated effectively, and delivered a fantastic site on time. Highly satisfied and highly recommend their services!</p>
								</div>
								<div class="ree-row-set mt30">
									<div class="media vcenter">
										<div class="ree-icon-set img-round80"><img src="{% static 'images\nexel_images\feedback\azzilias.png' %}" alt="img" class="img-fluid"></div>
										<div class="ree-details-set user-info">
											<h5>Ahna</h5>
											<p>AZzliaS WARDROBE, <small>Hubbali, Karnataka</small></p>
										</div>
									</div>
								</div>
							</div>

							<div class="items">
								<div class="review-text">
									<p>Big thanks to Nexel for an amazing website! Professional, creative, and on-point with deadlines. Couldn't be happier with the outcome. Strongly recommend choosing Nexel for your web development needs.</p>
								</div>
								<div class="ree-row-set mt30">
									<div class="media vcenter">
										<div class="ree-icon-set img-round80"><img src="{% static 'images\nexel_images\feedback\fc.png' %}" alt="img" class="img-fluid"></div>
										<div class="ree-details-set user-info">
											<h5>Anirudh Bhardwaj</h5>
											<p>Future Counselors, <small>Nagpur</small></p>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-contact-hom m-mt60">
							<div class="form-block bg-w">
								<div class="form-head"><h4>Please fill in the form below or mail us your requirements :)</h4></div>
								<div class="form-body">
									<form  method="post" name="feedback-form">
                                        {% csrf_token %}
										<div class="fieldsets row">
											<div class="col-md-6"><input type="text" placeholder="Full Name" name="name" required></div>
											<div class="col-md-6"><input type="email" placeholder="Email Address" name="email" required></div>
										</div>
										<div class="fieldsets row">
											<div class="col-md-6"><input type="number" placeholder="Contact Number" name="phone" required></div>
											<div class="col-md-6">
                                                <select class="input-ree" name="interest" required>
                                                    <option value="Web Design">Web Design</option>
                                                    <option value="Graphic Design">Graphic Design</option>
                                                    <option value="App Development">App Development</option>
                                                    <option value="E-commerce Development">E-commerce Development</option>
                                                    <option value="Digital Marketing">Digital Marketing</option>
                                                    <option value="Business Growth">Business Growth</option>
                                                    <option value="Business Startup">Business Startup</option>
                                                    <option value="Other">Other...</option>
                                                 </select>
                                            </div>
										</div>
										<div class="fieldsets row">
											<div class="col-md-12"><input type="text" placeholder="Subject" name="subject"></div>
											
										</div>
									
										<div class="fieldsets"><textarea placeholder="Message" name="message"></textarea></div>
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="customCheck" name="example1" checked="checked">
											<label class="custom-control-label label-f-form" for="customCheck">I agree to the <a href="javascript:void(0)">Terms &amp; Conditions</a> of Nexel.</label>
										</div>
										<div class="fieldsets mt20"> <button type="submit" name="submit" class="ree-btn  ree-btn-grdt1 w-100">Send your inquiry <i class="fas fa-arrow-right fa-btn"></i></button> </div>
										<p class="trm"><i class="fas fa-lock"></i>We hate spam, and we respect your privacy.</p>

										<div class="form-btm-set text-center mt15">
										<h5>We Deliver</h5>

										<div class="icon-setss mt20">										
											
											<div class="icon-rows">
												<div class="icon-imgg"><img src="{% static 'images/nexel_images/icons/money.svg' %}" alt="#"></div>
												<div class="icon-txt"><p>Best Price</p> </div>
											</div>
											<div class="icon-rows">
												<div class="icon-imgg"><img src="{% static 'images/nexel_images/icons/quality.svg' %}" alt="#"></div>
												<div class="icon-txt"><p>Quality Service</p> </div>
											</div>
											<div class="icon-rows">
												<div class="icon-imgg"><img src="{% static 'images/nexel_images/icons/call-agent.svg' %}" alt="#"></div>
												<div class="icon-txt"><p>Good Support</p> </div>
											</div>
											<div class="icon-rows">
												<div class="icon-imgg"><img src="{% static 'images/nexel_images/icons/satisfaction.svg' %}" alt="#"></div>
												<div class="icon-txt"><p>Satisfaction</p> </div>
											</div>
										</div>
									</div>
									</form>
								</div>
							</div>
						</div>
					</div>					
				</div>
				</div>				
			</div>
			<!--contact info end-->


            
<!--  Here to Help -->
	  <section class="r-bg-c sec-pad">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-7 text-center">
					<div class="page-headings">
						<h2>We’re Here to Help</h2>
						<p class="mt15">Guiding you every step of the way, because your success is our priority. We're here to help you thrive.</p>
					</div>
				</div>
			</div>
			<div class="row mt30">

				<div class="col-lg-4 col-sm-6">
					<div class="ree-card mt30 pera-block ree-card-content">
						<img src="{% static 'images/nexel_images/icons/to-do-list.svg' %}" alt="services" width="60" class="mb20">
							<h3>Communicate Your Requirements</h3>
							<p>Let's bridge the gap between your vision and our expertise – communicate your requirements and watch your ideas come to life.</p>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6">
					<div class="ree-card mt30 pera-block ree-card-content">
						<img src="{% static 'images/nexel_images/icons/policy.svg' %}" alt="services" width="60" class="mb20">
							<h3>Understanding the Requirement</h3>
							<p>Navigating success begins with understanding the core needs – our journey starts by comprehending your unique requirements.</p>
					</div>
				</div>

				<div class="col-lg-4 col-sm-6">
					<div class="ree-card mt30 pera-block ree-card-content">
						<img src="{% static 'images/nexel_images/icons/contract.svg' %}" alt="services" width="60" class="mb20">
							<h3>Nexel Respect the Client Needs</h3>
							<p>Respecting the unique needs of our clients is at the core of our commitment every step we take towards delivering exceptional solutions.</p>
					</div>
				</div>				

			</div>
		</div>
	</section>
  <!--  Here to Help end  -->

<div class="pt60 pb60 r-bg-d">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="icon-block-ree">
	<div class="icon-card-title">
		<img src="{% static 'images/nexel_images/icons/world.svg' %}" alt="services">
		<p>Work at Your Time Zone</p>
	</div>

	<div class="icon-card-title">
		<img src="{% static 'images/nexel_images/icons/conversation.svg' %}" alt="services">
		<p>Easy & Timely Communication</p>
	</div>

	<div class="icon-card-title">
		<img src="{% static 'images/nexel_images/icons/tech-support.svg' %}" alt="services">
		<p>Support Available at 24 Hours</p>
	</div>

	<div class="icon-card-title">
		<img src="{% static 'images/nexel_images/icons/rate.svg' %}" alt="services">
		<p> 4.9 Google Rating</p>
	</div>

	<div class="icon-card-title">
		<img src="{% static 'images/nexel_images/icons/awards.svg' %}" alt="services">
		<p>Award Wining Service and Support</p>
	</div>


</div>
</div>
</div>
</div>
</div>

            {% endblock %}