{% extends 'main_light/base.html' %}
{% load static %}
{% block body %}


<!-- Header title -->
<section class="header-title head-opacity" data-background="{% static 'images\nexel_images\banner\privacy_banner.png' %}">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <h1 class="mb15">Your Privacy Matters to Us</h1>
                <p class="h-light">Our Privacy Policy outlines how we collect, use, and protect your data while providing top-notch web development, app development, digital marketing, SEO, branding services, internships, and fostering a thriving developer community. Your privacy is our priority.</p>
            </div>			
        </div>
    </div>
</section>
<!-- Header title end -->


	<!--start Core Values-->
    <section class="r-bg-x sec-pad">
		<div class="container">
		  <div class="row justify-content-center">
			<div class="col-lg-4">
			  <div class="sol-img m-mt30">
				<img src="{% static 'images\nexel_images\banner\privacydata.png' %}" alt="Nexel office" class="img-fluid">
			  </div>
			</div>
			<div class="col-lg-7">
			  <div class="pera-block ml50 m-mt30">
				<h2>Privacy Policy: Safeguarding Your Information and Trust</h2>
				<p>At Nexel, we value and respect your privacy. This Privacy Policy outlines how we collect, use, and safeguard your personal information when you engage with our website, products, and services. We are committed to ensuring the security of your data and providing transparency about our data practices. This policy covers the information you provide to us, how we use it, and the choices you have regarding your personal data. Your trust is of utmost importance to us, and we are dedicated to protecting your privacy every step of the way.</p>
			  </div>
			</div>
		  </div>
		  <div class="row mt30" style="justify-content:center;">

			<div class="col-lg-8 mt30" style="text-align:justify; ">
			  <div class="pera-block ml50">
				<h4>Introduction</h4>
                    
                <p>Welcome to Nexel's Privacy Policy. This policy outlines how Nexel ("we," "our," or "us"), a software company, collects, uses, shares, and protects your personal information when you use our software, websites, and services ("Services"). We are committed to respecting your privacy and safeguarding your data. By accessing or using our Services, you agree to the terms of this Privacy Policy.</p>
                
                <br>
                
                <h4>Information We Collect</h4>
                    
                <p>We may collect various types of information from you when you use our Services, including:</p>
                   
                <p><b>Personal Information:</b> Information that identifies you personally, such as your name, email address, and contact details.</p>
                    
                <p><b>Usage Information:</b> Information about how you interact with our Services, such as your IP address, device type, operating system, browser type, and pages visited.</p>
                    
                <p><b>Location Information:</b> Information about your approximate location based on your IP address or other location data.</p>
                    
                <p><b>Cookies and Similar Technologies:</b> We may use cookies and similar technologies to collect information about your interactions with our Services and to improve your experience.</p>
                
                <br>

                <h4>How We Use Your Information</h4>
                    
                <p>We use your information for various purposes, including :</p>
                    
                <p>Providing and improving our Services.</p>
                <p>Personalizing your experience.</p>
                <p>Communicating with you, including sending important updates and notifications.</p>
                <p>Analyzing usage trends and optimizing our Services.</p>
                <p>Protecting our legal rights and preventing misuse.</p>
                    
                <br>

                <h4>How We Share Your Information</h4>
                    
                <p>We may share your information with third parties under the following circumstances:</p>
                    
                <p><b>Service Providers:</b> We may share your information with third-party service providers who help us deliver our Services.</p>
                <p><b>Legal Compliance:</b> We may share information to comply with legal obligations or respond to lawful requests.</p>
                <p><b>Business Transfers:</b> In the event of a merger, acquisition, or sale of assets, your information may be transferred to a new entity.</p>
                <p><b>Consent:</b> We may share your information with your consent.</p>
                    <br>
                    <h4>Your Choices</h4>
                    
                    <p>You have certain rights and choices regarding your personal information:</p>
                    
                     <p>Access: You can request access to the personal information we hold about you.</p>
                     <p>Correction: You can request corrections to inaccurate or incomplete personal information.</p>
                     <p>Deletion: You can request the deletion of your personal information, subject to certain exceptions.</p>
                     <p>Opt-Out: You can opt-out of receiving promotional communications from us.</p>
                     <p>Cookies: You can manage your cookie preferences through your browser settings.</p>
                    

                     <br>
                    <br>
                    <h4>Data Security</h4>
                    
                    <p>We implement reasonable security measures to protect your information from unauthorized access and disclosure.</p>
                    
                    <br>

                    <h4>Children's Privacy</h4>
                    
                    <p>Our Services are not intended for individuals under the age of [13/16], and we do not knowingly collect personal information from them.</p>
                    
                    <br>

                    <h4>Changes to this Privacy Policy</h4>
                    
                    <p>We may update this Privacy Policy from time to time. Changes will be effective when posted, and we will notify you of significant changes.</p>
                    
                    <br>

                    <h4>Contact Us</h4>
                    
                    <p>If you have any questions or concerns about this Privacy Policy, please contact us at nexel.cd@gmail.com / +91 9778165158.</p>
                    
                    <p>Thank you for trusting Nexel with your information.</p>
                    
			  </div>
			</div>

			


		  </div>
		</div>
	  </section>
	  <!--end Core Values-->
 
 

{% endblock %}