{% extends 'main_light/base.html' %}
{% load static %}
{% block body %}


<!--page head-->
<section class="page-heading-sec r-bg-a pt85 pb120">	
    <div class="container">
        <div class="row pt80 justify-content-center">
            <div class="col-lg-6">
                <div class="page-headings">
                    <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"> : </span>
                    <h1 data-aos="fade-up" data-aos-delay="400">Building Your Own <span class="ree-text rt45">website:</span> A Simple Step-by-Step Guide</h1>
                    <p class="mt20 h-light" data-aos="fade-up" data-aos-delay="400">Ready to make your own website? Our straightforward guide takes you through designing how it looks, building what you see, making it work, and getting it online. No tech-speak – just simple steps to bring your website idea alive!.</p>
                    <a href="{% url 'contactus' %}" class="ree-btn  ree-btn-grdt1 mt40" data-aos="fade-up" data-aos-delay="800">Let’s discuss <i class="fas fa-arrow-right fa-btn"></i></a>
                </div>
                </div>
            <div class="col-lg-6">
                <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="{% static 'images\nexel_images\icons\banner.svg' %}" alt="Nexel" class="img-fluid"></div>
            </div>
        </div>		
    </div>
</section>
<!--page head end-->

<!--about service-->
<section class="r-bg-x sec-pad">
        <div class="container">
            <div class="ree">
                <div class="row">
                    <div class="col-lg-6 vcenter">
                        <div class="cta-heading-2">
                            <h2 class="mb15">We offer <span class="ree-text rt40">Web</span> & <span class="ree-text rt40">App</span> development service</h2>								
                            <p>Welcome to our services! We specialize in crafting websites and apps that make your ideas come to life. Whether you're dreaming of a cool website or a handy app, we're here to turn your vision into a reality. With us, the world of technology becomes simple and accessible.</p>
                            <ul class="ul-list-icon mt30">
                                <li><i class="fas fa-sync-alt"></i> Your Dream, Our Creation</li>
                                <li><i class="fas fa-tachometer-alt"></i> Tech Without the Confusion</li>
                                <li><i class="fas fa-users"></i> Bringing Ideas to Every Device</li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 vcenter">
                        <div class="ct-sol-img"> <img src="{{ads.image.url}}" alt="web design" class="img-fluid">	</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--about service end-->


<!--service expertise-->
<section class="r-bg-a  sec-pad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="page-headings">
                    <h2>Our Key Expertise</h2>
                    <p class="mt15">Explore our range of prowess in website design and development</p>
                </div>
            </div>
        </div>

        <div class="row mt30">
            <div class="col-lg-4 col-sm-6">
                <div class="ree-card  mt60">
                    <div class="ree-card-content mt40">
                        <h3 class="mb15">Front-End Development</h3>
                        <p>Expertise in HTML, CSS, and JavaScript to create the visual and interactive elements of a website. This involves designing user interfaces, layouts, and ensuring responsive design for various devices.</p>
                    </div>						
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="ree-card  mt60">
                    <div class="ree-card-content mt40">
                        <h3 class="mb15">Back-End Development</h3>
                        <p>Proficiency in server-side scripting languages (e.g., PHP, Python, Ruby) and databases (e.g., MySQL, MongoDB) to handle data storage, processing, and server-side functionality of the website.</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="ree-card  mt60">
                    <div class="ree-card-content mt40">
                        <h3 class="mb15">Full-Stack Development</h3>
                        <p>A comprehensive skill set covering both front-end and back-end development, allowing the developer to handle all aspects of website creation, from user interface logic to server logic.</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="ree-card  mt60">
                    <div class="ree-card-content mt40">
                        <h3 class="mb15">Web Design and User Experience</h3>
                        <p>Understanding of design principles, typography, color theory, and usability best practices to create visually appealing and user-friendly websites that provide a seamless and enjoyable experience for visitors.</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="ree-card  mt60">
                    <div class="ree-card-content mt40">
                        <h3 class="mb15">Responsive and Mobile Design</h3>
                        <p>Ability to design and develop websites that adapt to various screen sizes and devices, ensuring consistent functionality and user experience across desktops, tablets, and smartphones.</p>
                    </div>
                    
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="ree-card  mt60">
                    <div class="ree-card-content mt40">
                        <h3 class="mb15">Web Security and Performance Optimization</h3>
                        <p>Knowledge of security best practices to protect the website from vulnerabilities and cyber threats, as well as optimization techniques to ensure fast loading times and optimal performance.</p>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
<!--service expertise end-->


<!--start cta-->
<section class="r-bg-x sec-pad">
    <div class="container">
        <div class="ree">
            <div class="row">
                <div class="col-lg-6 vcenter">
                    <div class="cta-heading">
                        <h2 class="mb15">Hire world-class <span class="ree-text rt40">developers</span> for your <span class="ree-text rt40">project</span>	</h2>
                        <p>We have a dexterity  team of designers & developers that works on clients projects excellently and delivers the project on timeline.</p>
                        <div class="mult-btns">
                        <a href="{% url 'contactus' %}" class="ree-btn  ree-btn-grdt1 mt40">Talk to our experts <i class="fas fa-arrow-right fa-btn"></i></a>
                        <span class="or">or</span>
                        <a href="tel:+919778165158" class="mt40 call-us">Call Us +91 9778165158</a>

                    </div>
                    </div>
                </div>
                <div class="col-lg-6 vcenter text-center">
                    <div class="sol-img-png"> <img src="{% static 'images\nexel_images\icons\developers.svg' %}" alt="app" class="img-fluid">	</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--start cta-->



<!---our work flow-->
<section class="r-bg-d  sec-pad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-headings text-center">
                    <h2 class="mb15">Development Process We Follow</h2>
                    <p>Our design process follows a proven approach. We begin with a deep understanding of your needs and create a planning template.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt30">
            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-1">01</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/pencil.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Requirement Gathering</h4>
                        <p>Understanding your needs is the first step. We'll chat with you to figure out exactly what you want your website or app to do. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-2">02</span>
                    <div class="process-block ">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/creativity.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Design</h4>
                        <p>Here's where we give your project its look and feel. We create the design that matches your vision.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mt30 ">
                <div class="process-content ree-card">
                    <span class="setps hst-3">03</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/prototype.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Prototype</h4>
                        <p>Before building the whole thing, we make a sample version. It's like a sneak peek to make sure we're on the right track. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-4">04</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/computer.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Development</h4>
                        <p>Now we get to work building the real thing! We write the code and put all the pieces together.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-5">05</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/quality-check.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Quality Assurance</h4>
                        <p>We test everything to make sure it works perfectly. No glitches or hiccups allowed! </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-6">06</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/start-up.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Deployment</h4>
                        <p>Time to launch! We put your website or app on the internet so everyone can see and use it. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-6">07</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/customer-support.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Support & Maintenance</h4>
                        <p>We're here for you even after launch. If anything needs fixing or updating, we're just a message away.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---our work flow end-->


<!--Industries-->
<section class="r-bg-x  sec-pad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-headings text-center">
                    <h2 class="mb15">Industries We Serve</h2>
                    <p>Our design process follows a proven approach. We begin with a deep understanding of your needs and create a planning template. </p>
                </div>
            </div>
        </div>

        <div class="row mt30">
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/house.svg' %}" alt="img"> <h6>Real estate</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/travel-case.svg' %}" alt="img"> <h6>Tour &amp; Travels</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/video-tutorials.svg' %}" alt="img"> <h6>Education</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/taxi.svg' %}" alt="img"> <h6>Transport</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/event.svg' %}" alt="img"> <h6>Event</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/smartphone.svg' %}" alt="img"> <h6>eCommerce</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/joystick.svg' %}" alt="img"> <h6>Game</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/healthcare.svg' %}" alt="img"> <h6>Healthcare</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/money-growth.svg' %}" alt="img"> <h6>Finance</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/baker.svg' %}" alt="img"> <h6>Restaurant</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/mobile-app.svg' %}" alt="img"> <h6>On-Demand</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/groceries.svg' %}" alt="img"> <h6>Grocery</h6> </div></div></div>
        </div>
</section>
<!--Industries end-->

<!--start cta-->
<section class="sec-pad r-bg-a">
    <div class="container">
        <div class="ree">
            <div class="row">
                <div class="col-lg-6 vcenter">
                    <div class="cta-heading">
                        <span class="sub-heading mb15">Contact Us</span>
                        <h2>Have a <span class="ree-text rt40">project</span> in mind? Let's get to chat.</h2>
                        <a href="{% url 'contactus' %}" class="ree-btn  ree-btn-grdt1  mt40 mr20"><i class="fas fa-phone-alt fb-bigon"></i> Contact </a>
                        <a href="https://wa.me/+919778165158" class="ree-btn  whatsapp-bg mt40 shadows"><i class="fab fa-whatsapp fb-bigon"></i> Whatsapp </a>

                    </div>
                </div>
                <div class="col-lg-6 vcenter text-center">
                    <div class="sol-img-png">
                        <img src="{% static 'images\nexel_images\icons\team-support.svg' %}" alt="working with client" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end cta-->


{% endblock %}