		
   {% extends 'main_light/base.html' %}
   {% load static %}


{% block head %}


{% endblock head %}


        {% block body %}
      <!--page head-->
      <div class="port-head-sec pt85 pb120 r-bg-x">
         <div class="container">
            <div class="row vcenter pt80">
               <div class="col-lg-6">
                  <div class="page-headings">
                     <span class="sub-heading mb15" data-aos="fade-up" data-aos-delay="200"><i class="fas fa-briefcase mr5"></i> Career</span>
                     <h1 class="mb15" data-aos="fade-up" data-aos-delay="400">Opportunities don't happen, you create them.</h1>
                     <p class="h-light" data-aos="fade-up" data-aos-delay="600">"Fuel Your Career at Nexel: Where Opportunities are Crafted. Embrace the philosophy 'Opportunities don't just happen, you create them' with us. Join to innovate, learn, and thrive in a dynamic software ecosystem. Build your path today!"</p>
                     <a href="#job" class="port-links mt40" data-aos="fade-up" data-aos-delay="800">Join Our Team <i class="fas fa-arrow-right fa-btn"></i></a>						
                  </div>
               </div>
               <div class="col-lg-6">
                  <div class="sol-img m-mt30" data-aos="fade-in" data-aos-delay="400"><img src="{{ads.image.url}}" alt="interview" class="img-fluid"></div>
               </div>
            </div>
         </div>
      </div>
       <!--page head end-->

      <!--career benefits-->
      <section class="r-bg-a sec-pad">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-12 text-center">
                  <div class="page-headings">
                     <h2 class="mb15">We are hiring <span class="ree-text rt40">heroes!</span> Time to value your skills.</h2>
                     <p class="mt15">Calling All Heroes! Unleash Your Skills with Us. Join our team and let your talents shine. We're hiring and ready to welcome the next wave of heroes. Step up to the challenge and embrace a rewarding journey!</p>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center mt30">
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/peace-of-mind.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Career Opportunities</h4>
                        <p>Explore exciting roles that allow you to utilize and enhance your skills. </p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/job-interview.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Skill Empowerment</h4>
                        <p>Unleash your unique talents and contribute to groundbreaking projects.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/presentation.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Join Our Team</h4>
                        <p>Become a part of a dynamic and driven team committed to excellence.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/sunglasses.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Talent Showcasing</h4>
                        <p>Showcase your skills on projects that truly matter and make an impact.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/paid-content.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Next-Level Challenges</h4>
                        <p>Embrace challenges that push your boundaries and encourage growth.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/office-table.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Rewarding Journey</h4>
                        <p>Embark on a journey filled with achievements, growth, and recognition.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/group.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Heroic Collaboration</h4>
                        <p>Collaborate with like-minded professionals to create something extraordinary.</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/consulting.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Ready to Welcome</h4>
                        <p>Join a welcoming community ready to support and empower your success.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--career benefits end-->


      <!--Interview Process-->
      <section class="r-bg-d sec-pad">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-12 text-center">
                  <div class="page-headings">
                     <h2 class="mb15">Process of <span class="ree-text rt40">Interview</span></h2>
                     <p class="mt15">Our interview process is like having a friendly chat about your skills and dreams. We'll also dive into some tasks to see you in action. It's all about helping you shine and finding the perfect fit. Join us for a stress-free conversation that opens doors to exciting opportunities!</p>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center mt30">
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/interview.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>HR Interview</h4>
                        <p>Discover who you are beyond your resume, and let your personality shine. </p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images/icons/job-interview.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Personal Interview</h4>
                        <p>A conversation tailored to you, where your aspirations and strengths take center stage. </p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-sm-6 mt30">
                  <div class="process-content ree-card">
                     <div class="process-block">
                        <div class="process-icon">
                           <img src="{% static 'images/nexel_images//icons/browsing.svg' %}" alt="service" class="icon70 mb15">
                        </div>
                        <h4>Practical Round</h4>
                        <p>Roll up your sleeves and showcase your skills in action, making your expertise clear.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!---Interview Process end-->


      <!--job opeaning-->
      <section class="home-partners-block r-bg-a sec-pad" id="job">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-8">
                  <div class="sec-heading text-center">
                     <h2 class="mb15">We're <span class="ree-text rt40">Hiring!</span></h2>
                     <p>Join Our Team: Opportunities Await!</p>
                  </div>
               </div>
            </div>
            <div class="row justify-content-center mt30">

               {% for career in career %}
               <div class="col-lg-4 mt30">
                  <div class="job-detail ree-card">
                     <h4>{{career.name}}</h4>
                     <div class="job-info w-100 mt30">
                        <div class="career-detail">
                           <p>Required Experience</p>
                           <p>{{career.exp}}</p>
                        </div>
                        <div class="career-detail">
                           <p>Number of Position</p>
                           <p>{{career.nop}}</p>
                        </div>
                        <div class="career-detail">
                           <p>Job Location</p>
                           <p>{{career.location}}</p>
                        </div>
                        <div class="career-detail">
                           <p>Job Type</p>
                           <p>{{career.jobtype}}</p>
                        </div>
                     </div>
                     <div class="job-titl mt40">
                        <a href="{% url 'careerdetails' career.slug %}" class="ree-btn  ree-btn-grdt2">Apply Now <i class="fas fa-arrow-right fa-btn"></i></a>
                     </div>
                  </div>
               </div>

               {% endfor %}
            
            </div>
         </div>
      </section>
      <!--job opeaning end-->

      {% endblock %}