{% extends 'main_light/base.html' %}
{% load static %}
{% block body %}


	<!--page head-->
	<section class="page-heading-sec serv-page-head r-bg-a pt85 pb120">	
		<div class="container">
			<div class="row pt80 justify-content-center">
				<div class="col-lg-9">
					<div class="page-headings service-page">
						<span class="sub-heading mb15" data-aos="fade-in" data-aos-delay="200">Comprehensive Software Solutions for Your Digital Success</span>
						<h1 data-aos="fade-in" data-aos-delay="400"><span class="ree-text rt45" >Nexel</span>, Explore our array of services below and let us guide you on the path to digital innovation and success.</h1>
						<p class="mt30 h-light" data-aos="fade-in" data-aos-delay="600">We are a team of top talent delivering enterprise solutions globally. we evolve with the advancement in technology because we believe in making our technology as your innovation.</p>
					</div>
					</div>
					</div>

					<div class="service-stats">
				</div>
			</div>
	</section>
	<!--page head end-->


    	<!--design service-->
	<section class="r-bg-x  sec-pad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="page-headings m-center">
						<h3>Transforming Ideas into Visual Excellence.</h3>
						<a href="{% url 'contactus' %}" class="ree-btn  ree-btn-grdt2 mt40">Need a Designer <i class="fas fa-arrow-right fa-btn"></i></a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="ml25 m-ml0 m-mt60">
						<h2 class="h1a m-center">Design Service</h2>
						<div class="services-blocks-set mt30">
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/web.svg' %}" alt="service" class="icon70 mb20">
								<a href="{% url 'web_development' %}" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="{% url 'web_development' %}"> Websites Design </a></h4>
								<p>At the forefront of digital aesthetics, our web design services redefine online experiences.</p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/mobile-app.svg' %}" alt="service" class="icon70 mb20">
								<a href="{% url 'app_development' %}" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="{% url 'app_development' %}">Mobile Apps Design</a></h4>
								<p>Elevate user experiences with our innovative mobile app design services</p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/ui.svg' %}" alt="service" class="icon70 mb20">
								<a href="{% url 'uiux' %}" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="{% url 'uiux' %}">UX/UI Design</a></h4>
								<p>Unlock the power of user-centric design with our UX/UI expertise.</p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/design-tools.svg' %}" alt="service" class="icon70 mb20">
								<a href="#" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="#">Branding</a></h4>
								<p>Our branding services encompass visual design, messaging, and strategy to define who you are in the digital realm.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--design service end-->

	<!--Development service-->
	<section class="r-bg-a  sec-pad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="page-headings m-center">
						<h3>Crafting Digital Solutions with Expert Development.</h3>
						<a href="{% url 'contactus' %}" class="ree-btn  ree-btn-grdt2 mt40">Need a Developer <i class="fas fa-arrow-right fa-btn"></i></a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="ml25 m-ml0 m-mt60">
						<h2 class="h1a m-center">Development Service</h2>
						<div class="services-blocks-set mt30">
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/appcode.svg' %}" alt="service" class="icon70 mb20">
								<a href="{% url 'app_development' %}" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="{% url 'app_development' %}">App Development</a></h4>
								<p>Transform ideas into seamless digital experiences with our app development prowess.</p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/coding.svg' %}" alt="service" class="icon70 mb20">
								<a href="{% url 'web_development' %}" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="{% url 'web_development' %}">Web Development</a></h4>
								<p>Navigate the digital landscape with our exceptional web development solutions.</p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/buy-online.svg' %}" alt="service" class="icon70 mb20">
								<a href="{% url 'e_commerce_solutions' %}" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="{% url 'e_commerce_solutions' %}">eCommerce Development</a></h4>
								<p>Unleash the potential of online commerce with our specialized eCommerce development services.</p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/servers.svg' %}" alt="service" class="icon70 mb20">
								<a href="{% url 'web_app' %}" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="{% url 'web_app' %}">WebApp Development</a></h4>
								<p>Experience the next level of interactivity with our web app development solutions.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Development service end-->

	<!--Marketing service-->
	<section class="r-bg-x  sec-pad">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="page-headings m-center">
						<h3>Elevate Your Brand with Strategic Marketing</h3>
						<a href="{% url 'contactus' %}" class="ree-btn  ree-btn-grdt2 mt40">Need a Markegist <i class="fas fa-arrow-right fa-btn"></i></a>
					</div>
				</div>
				<div class="col-lg-8">
					<div class="ml25 m-ml0 m-mt60">
						<h2 class="h1a m-center">Marketing Service</h2>
						<div class="services-blocks-set mt30">
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/search-engine.svg' %}" alt="service" class="icon70 mb20">
								<a href="#" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="#">Search Engine Optimization</a></h4>
								<p>Unlock the potential of your online presence with our SEO strategies.</p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/social-media.svg' %}" alt="service" class="icon70 mb20">
								<a href="#" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="#">Social Media Optimization</a></h4>
								<p>Harness the power of social networks to amplify your brand's reach.</p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/ppc.svg' %}" alt="service" class="icon70 mb20">
								<a href="#" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="#">Pay-Per-Click</a></h4>
								<p>Maximize your digital impact with targeted PPC campaigns. </p>
							</div>
							<div class="servic-block-a">
								<img src="{% static 'images/nexel_images/icons/ratings.svg' %}" alt="service" class="icon70 mb20">
								<a href="#" class="link-serv"><i class="fas fa-arrow-right"></i></a>
								<h4 class="mb15"><a href="#">Influencer Marketing</a></h4>
								<p>Harness the power of influence to connect with your audience authentically.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Marketing service end-->


    
<!---our work flow-->
<section class="r-bg-d  sec-pad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-headings text-center">
                    <h2 class="mb15">Development Process We Follow</h2>
                    <p>Our design process follows a proven approach. We begin with a deep understanding of your needs and create a planning template.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt30">
            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-1">01</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/pencil.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Requirement Gathering</h4>
                        <p>Understanding your needs is the first step. We'll chat with you to figure out exactly what you want your website or app to do. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-2">02</span>
                    <div class="process-block ">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/creativity.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Design</h4>
                        <p>Here's where we give your project its look and feel. We create the design that matches your vision.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mt30 ">
                <div class="process-content ree-card">
                    <span class="setps hst-3">03</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/prototype.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Prototype</h4>
                        <p>Before building the whole thing, we make a sample version. It's like a sneak peek to make sure we're on the right track. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-4">04</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/computer.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Development</h4>
                        <p>Now we get to work building the real thing! We write the code and put all the pieces together.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-5">05</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/quality-check.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Quality Assurance</h4>
                        <p>We test everything to make sure it works perfectly. No glitches or hiccups allowed! </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-6">06</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/start-up.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Deployment</h4>
                        <p>Time to launch! We put your website or app on the internet so everyone can see and use it. </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt30">
                <div class="process-content ree-card">
                    <span class="setps hst-6">07</span>
                    <div class="process-block">
                        <div class="process-icon">
                            <img src="{% static 'images/nexel_images/icons/customer-support.svg' %}" alt="service" class="icon70 mb20">
                        </div>
                        <h4>Support & Maintenance</h4>
                        <p>We're here for you even after launch. If anything needs fixing or updating, we're just a message away.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---our work flow end-->


<!--Industries-->
<section class="r-bg-x  sec-pad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="page-headings text-center">
                    <h2 class="mb15">Industries We Serve</h2>
                    <p>Our design process follows a proven approach. We begin with a deep understanding of your needs and create a planning template. </p>
                </div>
            </div>
        </div>

        <div class="row mt30">
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/house.svg' %}" alt="img"> <h6>Real estate</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/travel-case.svg' %}" alt="img"> <h6>Tour &amp; Travels</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/video-tutorials.svg' %}" alt="img"> <h6>Education</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/taxi.svg' %}" alt="img"> <h6>Transport</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/event.svg' %}" alt="img"> <h6>Event</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/smartphone.svg' %}" alt="img"> <h6>eCommerce</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/joystick.svg' %}" alt="img"> <h6>Game</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/healthcare.svg' %}" alt="img"> <h6>Healthcare</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/money-growth.svg' %}" alt="img"> <h6>Finance</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/baker.svg' %}" alt="img"> <h6>Restaurant</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/mobile-app.svg' %}" alt="img"> <h6>On-Demand</h6> </div></div>
                <div class="col-lg-3 col-sm-6 col-6"> <div class="industry-workfor"><img src="{% static 'images/nexel_images/icons/groceries.svg' %}" alt="img"> <h6>Grocery</h6> </div></div></div>
        </div>
</section>
<!--Industries end-->

<!--start cta-->
<section class="sec-pad r-bg-a">
    <div class="container">
        <div class="ree">
            <div class="row">
                <div class="col-lg-6 vcenter">
                    <div class="cta-heading">
                        <span class="sub-heading mb15">Contact Us</span>
                        <h2>Have a <span class="ree-text rt40">project</span> in mind? Let's get to chat.</h2>
                        <a href="{% url 'contactus' %}" class="ree-btn  ree-btn-grdt1  mt40 mr20"><i class="fas fa-phone-alt fb-bigon"></i> Contact </a>
                        <a href="https://wa.me/+919778165158" class="ree-btn  whatsapp-bg mt40 shadows"><i class="fab fa-whatsapp fb-bigon"></i> Whatsapp </a>

                    </div>
                </div>
                <div class="col-lg-6 vcenter text-center">
                    <div class="sol-img-png">
                        <img src="{% static 'images\nexel_images\icons\team-support.svg' %}" alt="working with client" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end cta-->


{% endblock %}